*{
    margin: 0px;
    padding: 0px;
}
li {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
a {
    color: black;
}
div {
    max-width: fit-content;
    height: 100%;
    border: 2px solid #000; /* 2px solid black border */
    padding: 10px;
    background-color: grey;
    box-sizing: inherit;
}

.modify-ini {
    display: none;
}
.modify-ini-label {
    max-width: fit-content;
  background: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  color: white;
}