* {
  margin: 0px;
  padding: 0px;
}

/* MAIN PAGE LAYOUT*/
.header-div {
  background-color: #83cbd8;
}
.main-wrapper {
  display: flex;
  
}
.settingsContainer {
  flex-grow: 1;
  margin-top: 20px;
  background-color: transparent;
  padding-left: 20px;
}
/* END MAIN PAGE LAYOUT*/

/* START OF SIDEBAR */
.sidebar-li {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.sidebar-div {
  max-width: fit-content;
  height: 100dvh;
  border: 2px solid #000; /* 2px solid black border */
  padding: 10px;
  background-color: grey;
  box-sizing: inherit;
}
.sidebar-button {
  max-width: fit-content;
  background: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  color: white;
  
}
.sidebar-button:hover {
  background: #0055b1;
}
.selected {
  background: #0f8000;
}
/* END OF SIDEBAR*/

body {
  font-family: Arial, sans-serif;
}

/* DARKMODE THEME*/
.darkmode {
  background-color: gray;
}

h1, h4{
  text-align: center;
}
h4{
  color: red;
}

.settings-label {
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.generate-ini-button {
  display: block;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.generate-ini-button:hover {
  background-color: #0056b3;
}

.toggle-switch-container {
  width: 51px;
  height: 31px;
  position: relative;
}

.toggleSwitch {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.settings-switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.settings-slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.toggleSwitch:checked + .settings-switch {
  background-color: #34c759;
}

.toggleSwitch:checked + .settings-switch .settings-slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}
.footer {
  text-align: center;
  font-size: 12px;
  border-top: 20px;
}

/* START OF THE THEME CHANGE SLIDER */

.theme-switch {
  height: 100px;
  width: 200px;
}

/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

/* END OF THE THEME CHANGE SLIDER */

.file-upload-label {
  max-width: fit-content;
  background: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  color: white;
}

.custom-file-input {
  display:none;
}