* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
  transition: background-color .5s;
}
/* MAIN PAGE LAYOUT*/
.header-div {
  background-color: lightblue;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-wrapper {
  display: flex;
}
.settingsContainer {
  flex-grow: 1;
  margin-top: 20px;
  background-color: transparent;
  padding-left: 20px;
  float: left;
}
.main-footer {
  border-top: black 5px 5px;
  padding: 0px;
  height: 200px;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
/* END MAIN PAGE LAYOUT*/

h4{
  color: red;
}

.settings-label {
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.generate-ini-button {
  display: block;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.generate-ini-button:hover {
  background-color: #0056b3;
}



.settings-switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.settings-slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.toggleSwitch:checked + .settings-switch {
  background-color: #34c759;
}

.toggleSwitch:checked + .settings-switch .settings-slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}




/* UPLOAD FILE BUTTON */
.file-upload-label {
  max-width: fit-content;
  background: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  color: white;
}

.file-upload-label::before {
  content: url("https://api.iconify.design/line-md/cloud-upload-loop.svg");
  padding-right: 10px;  
}

.custom-file-input {
  display:none;
}

/* TEXTAREA */
.iniFilePreview{
  height: 100dvh;
  max-width: 45%;
  min-width: 45%;
  position: relative;
  background-color: transparent;
  float: right;
}
.iniFilePreview textarea{
  background-color: transparent;
  color: black;
  width: 100%;
  height: 100%;
  font-size: large;
  resize: none;
  text-align: center;
}
.copyTextButton{
  height: 20px;
  width: 20px;
  background: url('https://api.iconify.design/solar/copy-bold.svg') no-repeat center center / contain;
  
}